<main role="main" class="container">
 
<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">  
  	New Blog
  </h3>

</div>
	<%= render 'form', blog: @blog %>
   
  <nav class="blog-pagination">
  	
	<%= link_to 'Back', blogs_path %>
     
  </nav>
 
</main>

 
