<main role="main" class="container">
	<div class="col-md-8 blog-main">
		<h3 class="pb-3 mb-4 font-italic border-bottom">
	    	<%=@topic.title %>
	    </h3>
	  	<%= render @blogs  %>
	</div>
</main>
  
