<h1>Port items</h1>
<% @portfolio_items.each do |x| %>
<p1><%= x.title %></p1>
<p><%= x.subtitle %></p>
<p><%= x.body  %></p>
<%= image_tag x.thumb_image unless x.thumb_image.nil? %>
<p></p>
<% end %>