
<!--<a href="portfolios/new">Yeni Oluştur</a> 
	<a href="portfolios/<%#=portfolio_item.id%>/edit">Düzenle</a> 
bu html kullanarak link atma
alttakiler rails kodu ile link atma
rake routes yaptığımızda bize default tanımlı gösterdiği edit ve new yolları
path eklersen new_portfolio_path gibi yolu ekler portfolios/new
new_portfolio yazılırsa URL ekler http://localhost:3000/portfolios/new 
edit kodu yazarken id gerekir edit_portfolio_path(x)
-->

<!-- render @portfolio_items bu örnekte çalışmıyor çünkü partial dosyasının adının _portfolio.html.erb olması gerektiğini söylüyor o yüzden aşağıdaki gibi partial dosyasının adını elle yazmamız gerekli -->

<div class="album py-5 bg-light">
    <div class="container">
    	<!-- portfolios.cofee dosyasının içindeki sort fonksiyonuna erişim-->
        <div class="row sort">
			<%= render partial: "portfolio_item", collection: @portfolio_items %>
        </div>
    </div>
</div>

	
	 
 