<h1>Pages#contact</h1>

<p>Find me in app/views/pages/contact.html.erb</p>

<p>Phone Number <%= number_to_phone "123123123" %> </p>
<p>Price <%= number_to_currency "55"  %> </p>
<p>Rate <%= number_to_percentage "3,5" %> </p>
<p>Callers <%= number_with_delimiter "312312323" %> </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4280.380227485089!2d29.508828538986045!3d40.07486902127991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cbcbfc9f8be7f3%3A0xafcd94e9ee8ec1ab!2zxLBuZWfDtmwgQWRhbGV0IFNhcmF5xLE!5e0!3m2!1str!2str!4v1540987309419" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>