<h1>Pages#contact</h1>

<p>Find me in app/views/pages/contact.html.erb</p>

<p>Phone Number <%= number_to_phone "123123123" %> </p>
<p>Price <%= number_to_currency "55"  %> </p>
<p>Rate <%= number_to_percentage "3,5" %> </p>
<p>Callers <%= number_with_delimiter "312312323" %> </p>