<!--current_user bir Devise ozelliğidir herhangi bir tanımlama yapmaya gerek yok

<h1>Hi, <%=current_user.first_name  %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>bloglar</h1>
<%#= @posts.inspect %>
<h1>yetenekler</h1>
<%#= @skills.inspect %> -->
<!-- application_helper.rb dosyasının içindeki sample_helper metodunu çağırır

<hr>
<%#=sample_helper%>
-->

<div>
	<main role="main" class="inner cover">
		<div>
		<h1 class="cover-heading"> Welcome </h1>
			<p class="lead"><span class= "element"></span></p>
			<p class="lead">
				<%= link_to "About Me", about_path , class:"btn btn-lg btn-secondary" %>
			</p>
		</div>
	</main>
</div>

