<!--current_user bir Devise ozelliğidir herhangi bir tanımlama yapmaya gerek yok -->

<h1>Hi, <%=current_user.first_name if current_user %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>bloglar</h1>
<%= @posts.inspect %>
<h1>yetenekler</h1>
<%= @skills.inspect %>
<h1>port</h1>
<%= @porfolio_items.inspect %>
